@font-face {
    font-family: Roboto; 
    src: url(../../fonts/Roboto/Roboto-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Roboto; 
    src: url(../../fonts/Roboto/Roboto-Light.woff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Roboto; 
    src: url(../../fonts/Roboto/Roboto-LightItalic.woff);
    font-weight: 300;
    font-style: italic;
}