.about {
	position: relative;
}

.about__picture {
	display: block;
	width: 879px;
	height: 354px;
	margin-bottom: 26px;
}

.about__header {
	color: #221f1f;
	font-family: Roboto;
	font-size: 49px;
	font-weight: 700;
	line-height: 38px;
	position: absolute;
	top: 160px;
	left: 66px;
}

.about__discription {
	width: 700px;
	color: #221f1f;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}

.about__discription span {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}

.about__discription ul {

}

.about__discription li {
	list-style: square;
	padding-left: 15px;
    margin-left: 20px;
}


.reserv__block {
	width: 700px;
	background-color: #1c5bc3;
	padding: 10px 30px;
}

.reserv__text {
	width: 595px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 18px;
	line-height: 30px;
}

.reserv__link {
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
}

.reserv__link--underline {
	text-decoration: underline;
}

.partners__title {
	color: #221f1f;
	font-family: Roboto;
	font-size: 49px;
	font-weight: 700;
	margin-top: 58px;
	margin-bottom: 33px;
}

.partners__list {
	display: block;
	width: 700px;
	font-size: 0;
	text-align: justify;
	margin-bottom: 12px;
	text-align: center;
}

.partners__item {
	margin-bottom: 60px;
	display: inline-block;
	vertical-align: middle;
}

.partners__item--left {
	float: left;
	height: 64px;
}

.partners__item--left:before, .partners__item--right:before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.partners__item--right {
	float: right;
	height: 64px;
}

.partners__link {
	filter: grayscale(1);
	display: inline-block;
	vertical-align: middle;
}
.partners__link:hover {
	filter: initial;
	transition: 1s;
}

.partners-img {
	display: inline-block;
	vertical-align: middle;
}